* {
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 5px;
  /*border: 1px solid blue;*/
}

body {
  text-align: center;
  border: 2px solid darkgrey;
  background-color: lightgrey;
  margin: 10px;
  padding: 10px;
}

h1 {
  position: relative;
  font-size: 30px;
  font-weight: bolder;
  border: 3px solid darkgrey;
}

h4 {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid darkgrey;
}

p {
  position: relative;
  border: 2px solid darkgrey;
}

section {
  position: relative;
  border: 2px solid darkgrey;
  background-color: white;
}

#Item {
  display: block;
  padding: 20px 10px;
}
#Item img
  {
    border: 3px solid black;
  }

#list {
  text-align: left;
}
#chart {
  width: 75%;
  height: 500px;
}
